name: Job - Deploy Web to Firebase Hosting

on:
  workflow_call:
    secrets:
      FIREBASE_SERVICE_ACCOUNT:
        required: true
      FIREBASE_PROJECT_ID:
        required: true
      FIREBASE_API_KEY:
        required: true
      FIREBASE_APP_ID:
        required: true
      FIREBASE_AUTH_DOMAIN:
        required: true
      APP_API_URL:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: 'web/package-lock.json'
      - name: Install dependencies
        run: npm ci
      - name: Generate OpenAPI client
        run: npm run generate:openapi
      - name: Build
        run: npm run build
        env:
          NEXT_PUBLIC_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
          NEXT_PUBLIC_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
          NEXT_PUBLIC_AUTH_DOMAIN: ${{ secrets.FIREBASE_AUTH_DOMAIN }}
          NEXT_PUBLIC_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
          NEXT_PUBLIC_APP_API_URL: ${{ secrets.APP_API_URL }}
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          projectId: ${{ secrets.FIREBASE_PROJECT_ID }}
          channelId: live
          entryPoint: web
