name: On Push(Server)

on:
  push:
    branches:
      - master
    paths:
      - 'server/**'

jobs:
  api-test:
    uses: ./.github/workflows/job-api-test-test.yml
  job-build-image:
    needs:
      - api-test
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/job-build-image.yml
    with:
      dockerfile_path: 'server/docker/Dockerfile'
      context: '.'
